  .swiper-slide:nth-child(n) {
    width: 86%;
  }

  .animalDetails-wrap {
      position: relative;
      background-color: #002D0A;
      /* animation: circle 3s infinite; */
  }


  /* @keyframes circle {
    0% { clip-path: circle(75%); }
    50% { clip-path: circle(25%); }
    100% { clip-path: circle(75%); }
  } */

