.animal-wrap {
    color: white;
    height: 100%;
    margin-left: 6vw;
}

.animal-title {
    font-family: "MagnatHead-ExtraBold", sans-serif;
    font-size: 11vw;
    margin-bottom: 5vw;
    margin-top: 10vw;
    -webkit-transform-origin-x: 0;
    z-index: 100;
}

.animal-quotes {
    font-family: "Metropolis-Medium", serif;
    font-size: 2.2vw;
    line-height: 1.33;
    padding-left: 1em;
    border-left: 0.2em solid white;
    width: 65%;
    margin-bottom: 3vw;
}

.animal-speech {
    width: 24vw;
    height: 5vw;
    border: 1px solid white;
    border-radius: 5vw;
    margin-bottom: 3vw;
}

.animal-illustration {
    background-image: url(../img/animal-elephant.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 46vw;
    height: 46vw;
    margin: 0 auto;
    margin-bottom: 6vw;
}

.animal-essay {
    width: 55vw;
    font-family: "Metropolis-Medium", serif;
    font-size: 2.2vw;
    line-height: 1.33;
    margin: 0 auto;
    margin-bottom: 3.7vw;
}
.animal-images {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4vw;
}

.animal-sound {
    margin-bottom: 7vw;
    margin-top: 11.5vw;
}

.animal-sound div {
    background-image: url(../img/animal-sound-icon.svg);
    width: 7.3vw;
    height: 7.3vw;
    background-size: contain;
    margin: 0 auto;
}

.animal-sound p {
    font-family: "MagnatHead-ExtraBold", serif;
    font-size: 1.7vw;
    text-align: center;
}
