.animal-img-wrapper {
    width: 100%;
    height: 42vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
    border-radius: 2vw;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.animal-img-item {
    height: 55vw;
    width: auto;
}
