/* .animalParallax-wrap {
    position: relative;
    height: 96vh;
    width: calc(700vh - (453/375)*100vh);
    overflow: hidden;
    line-height: 0;
    display: inline-block;
} */

.animalParallax-wrap {
    width: 100vw;
    height: 96vh;
    position: fixed;
    overflow-y: hidden;
    overflow-x:scroll;
}

.animalParallax-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc((2625/375)*100vh);
    background-size: cover;
}

.animalParallax-item-bg6 {
    background-image: url('../img/animalBg6.svg');
}
.animalParallax-item-bg5 {
    background-image: url('../img/animalBg5.svg');
}
.animalParallax-item-bg4 {
    background-image: url('../img/animalBg4.svg');
}
.animalParallax-item-bg3 {
    background-image: url('../img/animalBg3.svg');
}
.animalParallax-item-bg2 {
    background-image: url('../img/animalBg2.svg');
}
.animalParallax-item-bg1 {
    background-image: url('../img/animalBg1.svg');
}

.fakebar {
    height: 10px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    bottom: 50%;
    position: absolute;
    width: 700vh;
}


