.animal-quote-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vw;
}

.animal-quote-text {
    font-family: "Metropolis-Medium", serif;
    font-size: 3vw;
    line-height: 1.33;
    white-space: pre-wrap;
    width: 80%;
}
