.animal-wrap {
    color: white;
    height: 100%;
    margin-left: 6vw;
    margin-top: 16vw;
}

.animal-title {
    font-family: "MagnatHead-ExtraBold", sans-serif;
    /* font-size: 11vw; */
    font-size: 0;
    margin-bottom: 5vw;
    margin-top: 10vw;
    -webkit-transform-origin-x: 0;
    z-index: 100;
    position: relative;
}






.animal-essay {
    width: 55vw;
    font-family: "Metropolis-Medium", serif;
    font-size: 2.2vw;
    line-height: 1.33;
    margin: 0 auto;
    margin-bottom: 3.7vw;
    white-space: pre-wrap;
}
.animal-images {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 4vw;
}
