.animal-end-wrap {
    height: 300vh;
    width: 100vh;
}


.animal-end-tiger {
    width: calc((130/812)*100vw);
    height: auto;
    left: calc((175/812)*100vw);
    top: calc((-20/812)*100vw);
    position: relative;
}
.animal-end-monkey {
    position: absolute;
    left: calc((600/812)*100vw);
    top: calc((100/812)*100vw);
    width: calc((122/812)*100vw);
    height: auto;
}
.animal-end-toucan {
    position: absolute;
    left: calc((110/812)*100vw);
    top: calc((600/812)*100vw);
    width: calc((76/812)*100vw);
    height: auto;
}
.animal-end-giraf {
    position: absolute;
    left: calc((480/812)*100vw);
    top: calc((620/812)*100vw);
    width: calc((200/812)*100vw);
    height: auto;
}
.animal-end-elephant {
    position: absolute;
    left: calc((130/812)*100vw);
    top: calc((330/812)*100vw);
    width: calc((140/812)*100vw);
    height: auto;
}
.animal-end-aligator {
    position: absolute;
    left: calc((190/812)*100vw);
    top: calc((750/812)*100vw);
    width: calc((205/812)*100vw);
    height: auto;
}