.prologueWrap {
    height: 1vh;
    /* HACK - 1vh height to make div scrollable */
}

.prologueSectionPadding {
    height: 0.1px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    bottom: 20%;
    position: absolute;
}