.title-wrap {
    /* --scaleFactor: 6; */
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--scaleFactor)*100vh);
    width: calc(var(--scaleFactor)*100vw);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* top: 50%;
    left: 50%; */
    /* margin: calc(var(--scaleFactor)*100vh/2*-1) 0 0 calc(var(--scaleFactor)*100vw/2*-1) */
}

.title-top-wrap {
    display: inline-flex;
    justify-content: center;
}

.title-top {
    font-family: 'Metropolis-Black', sans-serif;
    font-size: calc((80/812)*100vw);
    text-transform: uppercase;
    line-height: calc(70/80);
}

.title-bottom {
    font-family: "MagnatHead-ExtraBold", serif;
    font-size: calc((60/812)*100vw);
    text-transform: capitalize;
}