.bgImgWrap-bg1-img {
    background-image: url('../img/prologueBg1.svg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center center;
}

.bgImgWrap-bg1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    perspective: 240px;
}
