@font-face {
    font-family: "Metropolis-Black";
    src: url("./font/Metropolis-Black.otf") format("opentype");
}

@font-face {
    font-family: "Metropolis-Medium";
    src: url("./font/Metropolis-Medium.otf") format("opentype");
}

@font-face {
    font-family: "MagnatHead-ExtraBold";
    src: url("./font/MagnatHead-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "MagnatHead-Medium";
    src: url("./font/MagnatHead-Medium.otf") format("opentype");
}
