@font-face {
    font-family: 'CyrulikRounded';
    src: url('./font/Cyrulik-Rounded.otf') format('opentype')
}

@font-face {
    font-family: 'CyrulikSharp';
    src: url('./font/Cyrulik-Sharp.otf') format('opentype')
}

@font-face {
    font-family: 'CyrulikSharpBold';
    src: url('./font/Cyrulik-SharpBold.otf') format('opentype')
}

@font-face {
    font-family: 'PublicoItalic';
    src: url('./font/PublicoText-Italic.otf') format('opentype')
}

@font-face {
    font-family: 'PublicoRoman';
    src: url('./font/PublicoText-Roman.otf') format('opentype')
}